.footer-copyright {
  color: #545454;
  max-width: 282px;
  width: 100%;
  height: 14px;
  margin-top: 30px;
  margin-left: 19px;
}

@media screen and (min-width: 768px) {
  .footer-copyright {
    margin-top: 1000px;
    margin-left: 100px;
    
  }

}

@media screen and (min-width: 1280px) {
  .footer-copyright {
    display: flex;
    text-align: left;
    margin-top: 100px;
    margin-left: 200px;
    width: 318px;
    height: 18px;
  }
}
