.profile {
  max-width: 282px;
  width: 100%;
  color: #ffffff;
}


.profile__avatar {
  width: 120px;
  height: 120px;
  margin-top: 30px;
  margin-left: 100px;
  border-radius: 50%;
  

}

.profile__avatar-edit-icon {
  position: absolute;
  top: 150px;
  left: 160px;
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.profile__avatar-edit-icon img {
  width: 26px;
  height: 26px;
}

.profile__avatar-container:hover .profile__avatar-edit-icon {
  opacity: 0.7;
}



.profile__info-name {
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  line-height: 26.63px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  overflow: hidden;
}

.profile__info-ocupation {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden;
}

.profile__edit-button {
  cursor: pointer;
  color: #ffffff;
  width: 18px;
  height: 18px;
  position: absolute;
  top: auto;
  left: 250px;
}

.profile__edit-button:hover {
  opacity: 0.7;
}

.profile__add-button {
  cursor: pointer;
  max-width: 282px;
  width: 100%;
  height: 50px;
  margin-left: 19px;
  color: #ffffff;
  margin-bottom: 20px;
  align-items: center;
  border-radius: 2px 0px 0px 0px;
}

.profile__add-button:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .profile {
    display: flex;
    max-width: 880px;
    width: 100%;
    height: 120px;
    text-align: center;
  }

  .profile__avatar {
    width: 120px;
    height: 120px;
    margin-left: 100px;
    border-radius: 50%;
  }

  .profile__avatar-edit-icon {
    position: absolute;
    top: 270px;
    left: 160px;
    width: 120px;
    height: 120px;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }

  .profile__info-name {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
    margin-left: 15px;
    width: 373px;
    margin-top: 50px;
    text-align: left;
  }

  .profile__info-ocupation {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.78px;
    width: 373px;
    margin-top: 5px;
    text-align: left;
    margin-left: 15px;

  }


  .profile__edit-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 210px;
    left: 460px;
  }

  .profile__add-button {
    position: absolute;
    display: grid;
    cursor: pointer;
    max-width: 120px;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    top: 210px;
    margin-right: auto;
    margin-left: 300px;
  }

}


@media screen and (min-width: 1280px) {
  .profile {
    display: flex;
    max-width: 880px;
    width: 100%;
    height: 120px;
    text-align: center;
    justify-content: center;
    
  }

  .profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .profile__avatar-edit-icon {
    position: absolute;
    top: 275px;
    left: 260px;
    width: 120px;
    height: 120px;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }


  .profile__info-name {
    font-family: Inter;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    margin-left: 20px;
    width: 373px;
    margin-top: 50px;
    text-align: left;
  }

  .profile__info-ocupation {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    width: 373px;
    margin-top: 10px;
    text-align: left;
    margin-left: 20px;


  }

  .profile__edit-button {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 240px;
    left: 720px;
    
  }

  .profile__add-button {
    position: absolute;
    display: grid;
    cursor: pointer;
    max-width: 150px;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    top: 240px;
    right: 200px;
    
  }
}